
.station {
overflow:auto;
width: 200px;
border: #fff groove 2px;
background-color: #c2cdd7;
}

.station img{
width: 200px;
}

/*to trim the png height, im thinking the tall one is perhaps too tall?
*/.trim { 
	margin-top: -40px;
	overflow: hidden; 
}


.rose-content {
  display: inline-grid;
  grid-template-rows: repeat(2, 150px, 200px);
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  margin-top: 3em;
  padding-bottom: 3em;
}

.rose-content p {
    margin-block-end: .5em;
}


button {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
