#canvas-holder{
	opacity: 0;
}
#canvas-holder,canvas{
	transition:0;
}
canvas-holder> div{
	transition:0;
}
#submission.submitted #submission-link{
	display:inline-block;
	margin-top:2rem;
	border-bottom: 1px dotted wheat;
}
#broken-video{
	display: none;
}
#submission-link{
	display:none;
}
#canvas-holder.on{
	opacity: 1;
}
#submit-button, #review-button.on{
	display:none;
}

#submit-button.on{
	display:block;
}
#photo-image-preview{
	display:none;
}
#photo-image-preview.show{
	display:block;
	width: 35%;
	margin:0 auto;
	border: 1px solid wheat;
}
#video-preview {
	width: 50%;
	margin: 0px auto;
}

#video-preview iframe {
		border: 1px solid wheat;
		box-sizing: border-box;
		border: 1px solid wheat;
}

.formlabel {
	font-family: 'Canela Web';
	font-weight: bold;
	font-size: 1.7vw !important;
}
/* #submission.on{
    float: left;
    text-align: left;
		width: 45vw;
    position: absolute;
    left: 50vw;
    height: 100vh;
} */

/* #submission.on .formlabel{
	display: none;
	opacity: 0;
	visibility: hidden;
	height: 0px;
}

#submission.on textarea{
	width: 90%;
	border:none;
	margin: 0px;
}
#submission.on input[type='text']{
	width:90%;
	border:none;
}
#submission.on #photo-image-preview.show{
	width: 400px;
	margin-left:0;
	display:inline-block;
	vertical-align: top;
} */


#flower + div#canvas-holder.on{
	display:block;
	position:relative;
	left:0;
	border-radius:0;
	padding:0;
	background:none;
	margin:0 auto;
}
#flower + div#canvas-holder.on{
	margin-top:-75px;
}
/*#submission.on #photo-button{
  display:inline-block;
  margin-left:10px;
  vertical-align: top;
}
#submission.on #submit-button{

}*/
/* TEMP SUBMISSION FORM STYLES*/
#submission.on textarea, #submission.on input[type='text']{
	border:0.5px solid #ffedcd66;

}
.info-text{
background: rgba(0,0,0,0.3);
}
.info {
	position: fixed;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	z-index: 4;
	width: 100vw;
	height: 100vh;
	background-position: left top;
	background-repeat: no-repeat;
	background-size:cover;
	display: table;
}

.info-text {
	box-sizing: border-box;
	display: table-cell;
  	vertical-align: middle;
}
#submission.show{
	filter:none;
}
.info-text p span {
	margin-bottom: 20px;
	display: block;
}
.info-text p {

    width: 56vw;
    color: #ffedcd;
    text-shadow: none;
    padding: 25px;
    margin-left: 21vw;
		box-sizing: border-box;
}
textarea, input[type='text']{
	color:#ffedcd;
	margin-top:10px;
	background: rgba(0,0,0,0);
	border:1px solid #ffedcd;
	padding: 10px;
}
textarea:focus, input[type='text']:focus{
	border:1px solid #fff;
	outline:none;
}


#flower + div {
  position: absolute;
  left:60%;
  padding:25px;
  border-radius: 0;
}
#submission.on{
	padding-top:0;
	margin-top:0;
}
textarea{
	margin:10px auto;
}
#photo-button{
	background:rgba(0,0,0,0);
}
#photo-button span{
	border-bottom: 1px dotted #ffedcd;
}
#submission{
	filter:blur(10px);
  text-align: center;
  margin: 0 auto;
  color:#ffedcd;
  padding: 25px 50px 50px;
  max-width: 1080px;
	padding-top: 10vh;
}
label{
  width: 100%;
  margin: 2rem 0;
  display: block;
}
label a{
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  color:black;
  padding: 5px 10px;
  text-decoration: none;
}
input[type='submit']{
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  color:black;
  padding: 5px 10px;
  text-decoration: none;
}
label a:hover{
  opacity: 0.9;
}
input[type='file']{
  display: block;
}
textarea{
  width: 50%;
  height: 400px;
  display: block;
}
#submission.submitted label, #submission.submitted button{
  display: none;
}
#save-rose.submitted{
 display: none;
}
#rose-saved.submitted{
 display: block;
}
#modal-button{
	background: rgba(0,0,0,0.3);
	margin-top:50px;
}
#rose-saved{
 display: none;
}
#photo-button.submitted + div{
  display: block;
}
#photo-button + div{
  display: none;
}
#photo-button.submitted{
/*  display: none;*/
}
#submission.submitted input[type='submit']{
  display: none;
}
#submission.submitted:before{
  content:"Your flower has been planted, honored with your dedication.";
  /* font-size:1.2rem; */
	font-size: 1.7vw !important;
	font-family: 'orpheus';
	font-weight: bold;
}

/* END SUBMISSION FORM */

/*----------MOBILE STYLES-------------*/

@media(max-width:768px){

	.info-text {
 	width: 100%;
 }
 .info-text p {
 	    width: 90%;
 			margin-left: 5vw;
 	    padding: 5vw;
 			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
 			padding-top: 10vh;
 	}

	#video-preview {
		width: 90%;
		margin: 0px auto;
	}

	.formlabel {
		font-family: 'Canela Web';
		font-weight: bold;
		font-size: 22px !important;
	}

	textarea {
    width: 90%;
    height: 400px;
    display: block;
}

#submission.submitted:before{
	font-size: 22px !important;
}

	/* .info-text p{

		padding:0;
	}
	#flower + div, #flower + div#canvas-holder.on{
		float:none;
		position: absolute;
		bottom:25px;
		display: block;
		left:-50px;
		padding:0;
	}
	#root{
		overflow-x: hidden;
	}
		#submission textarea{
		width:95%;
	}
	#submission{

		width:calc(100% - 20px);
		padding:10px;
		padding-bottom:400px;
	}
	.App{
		position:relative;
	}
	#submission.submitted:before{
	  content:"thank you";
	  font-size:1rem;
	  margin-top:1rem;
	}
	.info-text{
		display: block;
		position: fixed;
		overflow: scroll;
		top:5vh;
		left:0;
		padding:0 10px;
		height:95vh;
	} */
}
