nav a, a:visited{
	/*border: 5px solid blue;*/
	color: #fff !important;
	/* font-size: 1.2em; */
	text-decoration: none !important;
	border-bottom: 1px dotted wheat;
}

#ripple{
position: fixed;
top:0;
left: 0;
}

nav a, a:hover{
	color: #ffedcd;
	border-bottom: 1px dotted #fff;
}

a {
	text-decoration: none !important;
}

p a, p a:active, p a:visited {
	border-bottom: 1px dotted wheat;
	color: #fff;
}

p a:hover, .medium-text-link a:hover {
	color: #ffedcd !important;
}
