nav a, a:visited{
	/*border: 5px solid blue;*/
	color: #fff;
	/* font-size: 1.2em; */
	text-decoration: none !important;
	border-bottom: 1px dotted wheat;
}

#ripple{
position: fixed;
top:0;
left: 0;
}
nav a, a:hover, #download-flower a:hover{
	color: #ffedcd !important;
	border-bottom: 1px dotted #fff;
}

a {
	text-decoration: none !important;
}

p a {
	border-bottom: 1px dotted wheat;
}
