.single-flower{
	text-align: center;
	margin:0 auto;
	max-width: 1580px;
}
.flower{
  display: inline-block;
  vertical-align: top;
  float:left;

}
.flower .trim{
	width: 350px;
}
.flower img{
	width: 600px;
	margin-left:-150px;
	margin-top:-200px;
	
}
.flower-info{
	display: inline-block;
	vertical-align: top;
	color:white;
	float:left;
	line-height: 1.9rem;
	max-width: 1080px;
	margin:3rem auto;
	position: relative;
	min-height: 80vh;
	text-align: left;
}
.flower-info img{
	max-width: 700px
}