/* ~kebab case~ */
/* element--child
   element--modification(i.e. color)
   btn--text //a text element inside a button
   btn--blue //a class that changes buttons to blue
*/

/*----FONTS----*/

/* ::-webkit-scrollbar {
    display: none;
} */
body::-webkit-scrollbar {
  background-color: #000;
  height: 0px;
  width: 0px;
}

body::-webkit-scrollbar-track {
   background-color: #000;
   height: 0px;
   width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  height: 0px;
  width: 0px;
}

body::-webkit-scrollbar-track-piece  {
    background-color: #000;
    height: 0px;
    width: 0px;
}

body::-webkit-scrollbar-thumb:vertical {
    height: 0px;
    background-color: #000;
}

body {
  background: #000;
  scrollbar-color: #000 #000 !important;
  scrollbar-width: thin !important;
}
a {
  word-wrap: break-word;
}
@font-face {
    font-family: 'Canela Web';
    src: url('./fonts/CanelaWeb-Thin.woff2') format('woff2'),
        url('./fonts/CanelaWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Canela Web';
    src: url('./fonts/CanelaWeb-Regular.woff2') format('woff2'),
        url('./fonts/CanelaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orpheus';
    src: url('./fonts/orpheuspro-light-webfont.woff2') format('woff2'),
         url('./fonts/orpheuspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orpheus bold';
    src: url('./fonts/orpheuspro-bold-webfont.woff2') format('woff2'),
         url('./fonts/orpheuspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*----TYPOGRAPHY----*/


  .tiny-text{
    font-size:1vw;
    font-family: 'orpheus';
    font-weight: bold;
    text-shadow: 0px 2px #000;
    /* letter-spacing: 0.5px; */
    letter-spacing: 0px;
  }

  .small-text{
    font-size:1.2vw;
    font-family: 'orpheus';
    font-weight: bold;
    text-shadow: 0px 2px #000;
    /* letter-spacing: 0.5px; */
    letter-spacing: 0px;
  }
  .medium-text{
    font-family: 'orpheus';
    font-weight: bold;
    font-size: 1.7vw !important;
    text-shadow: 0px 2px #000;
    line-height: 1.2;
    /* letter-spacing: 0.5px; */
    letter-spacing: 0px;
  }
  a.medium-text, a.small-text {
    border-bottom: 1px dotted wheat;
    color: #fff !important;
  }

  a.medium-text:hover {
    border-bottom: 1px dotted white;
  }

  .medium-text-link{
    font-family: 'Canela Web';
    font-weight: bold;
    font-size: 1.7vw !important;
    text-shadow: 0px 2px #000;
    line-height: 1.2;
    /* letter-spacing: 0.5px; */
    letter-spacing: 0px;
    color: #fff;
  }

  .medium-text-link:hover
  /* , #about-garden:hover  */
  {
    color:#ffedcd !important;
  }
  .hidden{
    visibility: hidden;
  }
  .large-text{
    font-size: 2.8vw;
    font-family: 'Canela Web';
    font-weight: bold;
    text-shadow: 0px 2px #000;
  }
/*@font-face {
  font-family: 'Canela Web';
  src: url('../../fonts/CanelaWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('../../fonts/CanelaWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}*/

/*----BUTTONS----*/
button:hover{
  opacity: 0.8;
}
a{
  color:#ffedcd;
}
button {
    display: block;
    cursor:pointer;
    margin: auto;
    background: rgba(0,0,0,0.5);
    width: 150px;
    height: 100px;
    outline: none;
    color: #ffedcd;
    box-shadow: none;
    border: none;
}
/*-- NAV --*/
nav{
  position:fixed;
  text-align: left;
  top:0;
  left:0;
  z-index: 9;
  padding:25px;
}
nav a, a:visited, a:active{
  background:rgba(0,0,0,0.3);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.star{
  position:fixed;
  z-index: -1;
  transition:3s;
  opacity:0;
}
.star.on{

  opacity:1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width:768px) {
  /*----Nav----*/
  nav{
    bottom:0;
    top:auto;
    width: calc(100% - 50px);
    text-align: center;
  }
     /*----TYPOGRAPHY----*/

  .tiny-text, .small-text, .dedication-name{
  /* font-size: 0.8rem; */
  font-size: 16px !important;
  line-height: 20px !important;
  }
  .medium-text, .medium-text-link{
  /* font-size: 1rem; */
  font-size: 22px !important;
  }
  .large-text{
  /* font-size: 1.2rem !important; */
  font-size: 30px !important;
  }
  /*----END TYPOGRAPHY----*/


  input[type='text']::placeholder, textarea::placeholder {
  	 font-size: 16px !important;
     line-height: 24px !important;
  }

  textarea, input[type='text']{
  	padding: 2.5vw !important;
  }


}
