/*
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@font-face {
  font-family: 'ht';
  src: local('ht'), url(./fonts/ht-thin.ttf) format('truetype');
}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a3a3a3;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-image: url(./assets/sky.jpg);
}
